#navigation{
    color: wheat;
    text-align: center;
    font-size: 20px;
}
#roomText{
    color: wheat;
    text-align: center;
    font-size: 20px;
}
#buttons{
    text-align: center;
}
.options{
    background-color: wheat;
    border: none;
    padding:3px 5px;
    display: ruby;
    border-radius: 3px;
    font-family: fantasy;
    font-size: 15px;
    position: relative;
}
.options:hover{
    transition: .5s;
    background-color: goldenrod;
}
body{
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/86/1b/da/861bda7d76e58f26f657789cf79893d8.jpg') ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}